:root{
  --bg-clr:#30385F ;
  --cross-clr:#C3423F ;
  --hash-clr : #4ebdec ;
  --o-clr:#97dbf8  ;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-clr);
  display: grid;
  place-items:center ;
  min-height: 100vh;
}

.board{
  width:100vmin;
  height:100vmin ;
  padding: 1em ;
  margin:auto ;
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr) ;
  row-gap: 0.4em ;
  column-gap: 0.4em ;
}

.board>div{
  border-radius: 5%;
  box-shadow:  0 0 4px var(--hash-clr);
  display: grid;
  place-items: center;
} 


.x,.o{
  width:100% ;
  height: 100%;
  position: relative;
  
}

.x::before,.x::after{
  content :"" ;
  position: absolute;
  width: 100%;
  height: 12px;
  /* background:white ; */
  top: 47%;
  border-radius: 32%;
  box-shadow: inset 0 12px 12px var(--cross-clr);
}

.x::before{
  transform: rotate(45deg);
}

.x::after{
  transform: rotate(-45deg);
}

.o{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color:rgab(255,255,255,0.4) ;
  display: grid;
  place-items: center;
  box-shadow: inset  0 0 12px 6px var(--o-clr);
}

.o>div{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color:var(--bg-clr) ;
  box-shadow:   0 0 12px 6px var(--o-clr);

}